<h1>Création d'un conteneur</h1>

{{ form_start(formContainer) }}
{{ form_row(formContainer.color) }}
{{ form_row(formContainer.containerModel) }}
{{ form_row(formContainer.containership) }}
<button type="submit">Create container</button>
{{ form_end(formContainer) }}