<h1>Création d'un produit</h1>

{{ form_start(formProduct) }}
{{ form_row(formProduct.name) }}
{{ form_row(formProduct.width) }}
{{ form_row(formProduct.length) }}
{{ form_row(formProduct.height) }}
<button type="submit">Create product</button>
{{ form_end(formProduct) }}