{#{% extends "base.html.twig" %}#}


{#{% block body %}#}
{#    <h2 class="mb-5">Add Container Ship</h2>#}
{#    {{ form_start(form) }}#}
{#    {{form_row(form.name)}}#}
{#    {{form_row(form.captainName)}}#}
{#    {{form_row(form.containerLimit)}}#}
{#    <button type="submit" class="btn btn-primary">Ajouter</button>#}
{#    {{ form_end(form) }}#}
{#{% endblock %}#}


<form method="post">
    <label for="fname">Name</label>
    <input type="text" id="name" name="name"><br>

    <label for="fcaptainName">CaptainName</label>
    <input type="text" id="captainName" name="captainName"><br>

    <label for="fcontainerLimit">ContainerLimit</label>
    <input type="number" id="containerLimit" name="containerLimit"><br>

    <input type="submit" value="Submit">
</form>