<h1>Création d'un porte conteneur</h1>

{{ form_start(formContainership) }}
{{ form_row(formContainership.name) }}
{{ form_row(formContainership.captain_name) }}
{{ form_row(formContainership.container_limit) }}
<button type="submit">Create container ship</button>
{{ form_end(formContainership) }}